<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/style.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script type="text/javascript" src="/js/modalScript.js"></script>
            <script type="text/javascript" src="/js/formCategorieScript.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ path('admin_index') }}" id="titre_page"></i>Accueil</a>
            <nav>
                <ul class="nav_liens">
                    <li><a href="{{ path('admin_questions') }}">Questions</a></li>
                    <li><a href="{{ path('admin_users') }}">Utilisateurs</a></li>
                    <li><a href="{{ path('admin_evaluations') }}">Evaluations</a></li>
                    <li><a href="{{ path('admin_thematiques_matieres') }}">Thematique/Matières</a></li>
                    <li><a href="{{ path('logout') }}">Se deconnecter</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
