{% extends 'layouts/adminLayout.html.twig' %}
{% block title %}Nouvel utilisateur{% endblock %}
{% block body %}
    <h2 class="titre">Nouvel utilisateur</h2>
    <div class="box_user">
        <div class="box_ajout">
            {{ form_start(ajouter_user_form) }}
            <div class="">
                {{ form_errors(ajouter_user_form) }}
            </div>
            <div class="zone_input">
                <center><i id="icon_ajout" class="fas fa-user"></i></center>
                <div class="input">{{ form_row(ajouter_user_form.login) }}</div>
                <div class="input">{{ form_row(ajouter_user_form.roles) }}</div>
                <div class="input">{{ form_row(ajouter_user_form.password) }}</div>
                <center><a href="{{ path('admin_ajouter_user') }}">{{ form_row(ajouter_user_form.Enregistrer) }}</a></center>
            </div>
            {{ form_end(ajouter_user_form) }}
        </div>
    </div>
{% endblock %}