{% extends 'layouts/adminLayout.html.twig' %}

{% block body %}
    <h2 class="titre">Modifier enseignant</h2>
    <div class="box">
        <div class="box_ajout">
            {{ form_start(modifier_user_form) }}
            <div class="">
                {{ form_errors(modifier_user_form) }}
            </div>
            <div class="zone_input">
                <center><i id="icon_ajout" class="fas fa-user"></i></center>
                <div class="input">{{ form_row(modifier_user_form.login) }}</div>
                <div class="input">{{ form_row(modifier_user_form.password) }}</div>
                <a href="" class="button_ajouter">{{ form_row(modifier_user_form.ajouter) }}</a>
            </div>
            {{ form_end(modifier_user_form) }}
        </div>
    </div>
{% endblock %}