{% extends 'layouts/adminLayout.html.twig' %}
{% block title %}Catégories{% endblock %}
{% block body %}
    <div>
        <h2 class="titre">Thematiques et Matières</h2>
        
        <a href="{{ path('admin_ajouter_questions') }}" id="ajouter_question">+ Nouvelle question</a>
      
        <a href="{{ path('admin_ajouter_categorie') }}" id="ajouter_categorie">+ Nouvelle thématique/matière</a>

        <br>
        <br>
        <br>
        <br>

        <br>  <h3> <center>La liste des thématiques </center></h3>

        

        <table class="tableau_de_resultats tableau_utilisateurs">
             <thead>
            <tr>
                <th>Thematiques</th>
                <th>Modification</th>
                <th>Suppression</th>
            </tr>


        </thead>
        <tbody>  
  
             {% for Thematique in thematiques %}           
            <tr>
                <td>{{ Thematique.libelleThematique }}</td>

                <td>                    
                    <a id="button_modifier" class="button_admin" href="{{ path('admin_modifier_thematique',{'id':Thematique.id}) }}">Modifier</a>
                </td>
                <td>                    
                    <a id="button_supprimer" class="button_admin" href="{{ path('admin_thematique_Supprimer',{'id':Thematique.id}) }}" onclick="return confirm('attention cette thematique va être supprimer !')">Supprimer</a>
                </td>     
             {% endfor %}  
            </tr>              
        </tbody>
        </table>

 <br>
        <br>
        <br>

        <br> <h3><center> La liste des matières </center></h3>

 <table class="tableau_de_resultats tableau_utilisateurs">
             <thead>
            <tr>
                <th>Matières</th>
                <th>Modification</th>
                <th>Suppression</th>

            </tr>

        </thead>
        <tbody>  
        
           {% for Matiere in matieres %} 
            <tr>

                <td>{{ Matiere.libelleMatiere }}</td>

                <td>                    
                    <a id="button_modifier" class="button_admin" href="{{ path('admin_modifier_matiere',{'id':Matiere.id}) }}">Modifier</a>
                </td>
                <td>                    
                    <a id="button_supprimer" class="button_admin" href="{{ path('admin_matiere_Supprimer',{'id':Matiere.id}) }}" onclick="return confirm('attention')">Supprimer</a>
                </td>   
             {% endfor %}  
            </tr>              
        </tbody>
        </table>
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}