{% extends 'layouts/userLayout.html.twig' %}
{% block title %}Créer une évaluation {% endblock %}
{% block body %}
    <div>
        <h2 class="titre">Choix des questions</h2>
            <div class="zone_filtre">
                <center><form method="POST" action="{{path('user_generer_evaluation')}}">
                    <ul>
                        <li>
                        <!-- Types -->
                            <label for="pet-select">Type de question :</label>
                            <select name="type_question">
                                <option value="">--Type--</option>
                                    {% for type in types_question %}
                                        <option  value={{type.getId}}>{{type.getLibelleType}}</option>
                                    {% endfor %}   
                            </select>
                        </li>
                        <li>
                        <!-- Matières -->
                            <label for="pet-select">Matière :</label>
                            <select name="matiere_question">
                                <option value="">--Matière--</option>
                                    {% for matiere in matieres_question %}
                                        <option  value={{matiere.getId}}>{{matiere.getLibelleMatiere}}</option>
                                    {% endfor %}   
                            </select>
                        </li>
                        <li>
                        <!-- Thématiques -->
                            <label for="pet-select">Thématique :</label>
                            <select name="thematique_question">
                                <option value="">--Thématique--</option>
                                    {% for thematique in thematiques_question %}
                                        <option  value={{thematique.getId}}>{{thematique.getLibelleThematique}}</option>
                                    {% endfor %}   
                            </select>
                        </li>
                        <li>
                            <button class="button_admin" style="padding:9px;width:120px;" type="submit">Rechercher</button>
                        </li>
                    </ul>
                </form></center>
            </div>
        <form method="POST" action="{{path('user_generer_evaluation_suite')}}">
            <center>
                <label>Veuillez saisir un nom pour votre évaluation : </label>
                <input id="input_nom" type="text" name="nom_evaluation" placeholder="Nom de l'évaluation" required/>
            </center>
            
            <table class="tableau_de_resultats tableau_utilisateurs">
                <tr>
                    <th>Selection</th>
                    <th>Question</th>
                    <th>Propositions</th>
                </tr>
                {% for question in questions %}
                <tr>
                    <th><input type="checkbox" name="checkBox[]"  id="ic" value="{{ question.id }}" /></th>
                    <th>{{ question.contenuQuestion }}</th>
                    <th>
                        {% for proposition in question.propositionsQuestion %}
                            {{ proposition }}
                        {% endfor %}
                    </th>
                </tr>
                {% else %}
                <tr>
                    <th colspan="4"><center>Aucun résultat</center></th>
                </tr>
                {% endfor %}
                
            </table>
            <button class="button_admin generer_eval" id="button_generer" type="submit">Générer</button>
        </form>
    <div>
{% endblock %}