{% extends 'layouts/userLayout.html.twig' %}

{% block body %}
    <div>
        <h2 class="titre">Questions</h2>
        
        <div>
            {{ form_start(filtre_question_form) }}
            <div class="">
                {{ form_errors(filtre_question_form) }}
            </div>
            <div class="zone_filtre">
                <div class="input">{{ form_row(filtre_question_form.question) }}</div>
                <div class="input">{{ form_row(filtre_question_form.type) }}</div>
                <div class="input">{{ form_row(filtre_question_form.thematique) }}</div>
                <div class="input">{{ form_row(filtre_question_form.matiere) }}</div>
            </div>
            {{ form_end(filtre_question_form) }}
        </div>

        <a href="{{ path('user_ajouter_questions') }}" id="ajouter_evaluation">+ Nouvelle Question</a>
        <a href="{{ path('user_ajouter_categorie') }}" id="ajouter_categorie">+ Nouvelle thématique/matière</a>

        <table class="tableau_de_resultats tableau_utilisateurs">
            <tr>
                <th>Question</th>
                <th>Propositions</th>
            </tr>
            {% for question in questions %}
            <tr>
                <th>{{ question.contenuQuestion }}</th>
                <th>
                    {% for proposition in question.propositionsQuestion %}
                        {{ proposition }}
                    {% endfor %}
                </th>
            </tr>
            {% else %}
            <tr>
                <th colspan="4"><center>Aucun résultat</center></th>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}